<div class="bg-info" style="height: 70px;">
    <div class="container pt-3">
        <i class="material-icons mb-3 float-left text-info bg-white mr-3" style="border-radius: 100%; padding:5px; font-size:30px; cursor: pointer;" title="Go back" onclick="window.history.back()">keyboard_arrow_left</i>

        {% if user.is_authenticated %}

            <h4 class="float-left text-white">Hi {{ user.first_name }}</h4>


        {% else %}

            <h4 class="float-left text-white mt-1">H<span style="font-size: 18px;">OT</span>S<span style="font-size: 18px;">POT</span></h4>

        {% endif %}

        {% if user.is_authenticated %}

           

            <a href="{% url 'logout' %}" onclick="return confirm('Are you sure, you want to logout ?')">
                <button class="btn bg-white float-right mx-1">Logout</button>
            </a>

            <a href="{% url 'myplaces' %}">
                <button class="btn bg-white float-right mx-1">My places</button>
            </a>

        {% else %}

            <a href="signup">
                <button class="btn bg-white float-right mx-1">Signup</button>
            </a>

            <a href="login">
                <button class="btn bg-white float-right mx-1">Login</button>
            </a>

        {% endif %}

        <div class="dropdown float-right">
            <button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown">
              Add place
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="add?type=permanent">Permanent</a>
              <a class="dropdown-item" href="add?type=temporary">Temporary</a>
            </div>
        </div>



        

        <!-- <div class="dropdown float-right mx-2">
            <button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown">
              Show places
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="show?type=permanent">Permanent</a>
              <a class="dropdown-item" href="show?type=temporary">Temporary</a>
            </div>
        </div> -->

        <a href="show">
            <button class="btn bg-white float-right mx-1">Home</button>
        </a>


    </div>
        

</div>
